body {
    background-color: rgb(255, 102, 0);
}

@keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
}
img {
    max-width: 45rem;
    max-height: 45rem;
}

.spinner {
    font-size: 50px;
    text-align: center;
    animation: 2s spin linear infinite;
    display: none;
}

.dog-img {
    display: none;
}

.show {
    display: block;
}
