/* my style */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 255, 120);
}

img {
    border: 10px solid green;
}

/* p {
    color: red;
} */

h1 {
    border: 5px dotted red;
    width: 300px;
    text-align: center;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
    font-weight: bold;
}

.bigbold {
    font-weight: bold;
    font-size: 1.5rem;
}

h2, h3 {
    color: orange;
}

h4, h5 { color: green; }

ul a:link {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

a:visited {
    color: green;
    font-weight: normal;
}

a:hover {
    color: #40C1AC;
    text-decoration: underline;
    background-color: black;
}

a.harvard {
    font-size: 3rem;
}

a.google {
    color: maroon;
}

#myid {
    color: #5c66ff;
    font-weight: bold;
}